/*Global*/

$font-text: 'Roboto', sans-serif;
$font-header: 'Roboto Slab', serif;

body {
    font-family: $font-text;
    font-size: 14px;
    line-height: 1.5;
}

.song-lyrics {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

/*Content*/

.song-name {
    font-family: $font-header;
    font-size: 36px;
}

.song-band {
    font-size: 16px;
    font-style: italic;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.phrase {
    padding-bottom: 10px;
}

